article {
  padding-bottom: 0.5rem;
}
.svg-fullwidth {
  margin-left: -6%;
  width: 95%;
}

p.fullwidth {
  width: 90%;
}

svg {
  float: left;
}

.bold {
  font-weight: bold;
}

#bar-chart--earnings .axis {
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

#bar-chart--earnings .bar {
  fill: #073642;
}

#bar-chart--earnings .bar:hover {
  fill: #1b6193;
  cursor: pointer;
}

#bar-chart--earnings .bar.active {
  fill: #268bd2;
}

#bar-chart--categories-nav-btn {
  font-size: 1.2rem;
  color: #93a1a1;
  cursor: default;
}
#bar-chart--categories-nav-btn.enabled {
  color: #111;
  cursor: pointer;
}
#bar-chart--categories-nav-btn.enabled:hover {
  text-decoration: underline;
}

.states {
  fill: #073642;
  stroke: #fff;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.city {
  /* fill: #1b6193; */
  opacity: 0.9;
  stroke: none;
}

.city:hover {
  cursor: pointer;
  opacity: 1;
  stroke: cornsilk;
  stroke-width: 1.5px;
}

#map--tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 45px;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  white-space: pre;
}

#scale {
  float: right;
  margin-right: 15%;
  margin-top: -60px;
  width: 500px;
  padding-bottom: 20px;
}
