#bar-chart--earnings .axis {
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

#bar-chart--earnings .bar {
  fill: #93a1a1;
}

#bar-chart--earnings .bar:hover {
  fill: #268bd2;
  cursor: pointer;
}

.states{
  fill: darkgray;
  stroke: #fff;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.city{
  fill: steelblue;
  opacity: .75;
  stroke: none;
}

.city:hover{
  fill: royalblue;
  opacity: 1;
  stroke: #fff;
  stroke-width: .5px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  white-space: pre;
}
